

.form-content {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}
.form-content .sd-form-control {
  display: block;
  margin-bottom: 10px;
  width: 96%;
  padding: 10px;
  font-size: 10px;
}

.form-submit {
  color: #68902d;
  background-color: darkblue;
  display: flex;
  justify-content: center;
}

select {
  background-color: #b6d0ff;
}

/*.paycheck-form label {
  display: flex;
  justify-content: center;
}*/

.flexify {
  display: flex;

}
